.header {
    padding: 20px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__btns {
    display: flex;
    align-items: center;
    gap: 45px;
}

.header__btn {
    position: relative;
}

.header__btn span{
    position: absolute;
    top: -8px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 15px;
    background-color: #ffa542;
    border-radius: 50%;
}